<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Funchify!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <%= link to: page_path(@conn, :index) do %>
          <img src="/images/logo_512.png"/>
        <% end %>
        <h1>
          <%= link "Funchify", to: page_path(@conn, :index) %>
        </h1>
        <span>Making your life worthier</span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer>
        <h3>Follow us</h3>
        <ul class="contact">
          <li><%= link "", to: "https://github.com/tulinmola/funchify-phoenix", class: "fa fa-github-alt"%></li>
          <li><%= link "", to: "https://twitter.com/funchify", class: "fa fa-twitter"%></li>
          <li><%= link "", to: "mailto:funchify.com@gmail.com", class: "fa fa-envelope"%></li>
        </ul>
      </footer>
    </div> <!-- /container -->
    <script src="https://use.fontawesome.com/b96058ca85.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
