/* This file is for your main application css. */

h1 a {
  color: #888;
}

h1 a:hover {
  text-decoration: none;
}

header span {
  font-style: italic;
  color: #666;
}

.mega-link {
  display: block;
  text-align: center;
  font-size: 32px;
  line-height: 48px;
}
