<div class="jumbotron">
  <h2>Welcome to the clicky-clicky world</h2>
  <p class="lead">Testing funchies in a PostgreSQL database<br />stored in another pod using awesome OpenShit.</p>
</div>

<%= link "Shut up and show my funchies!", to: funchy_path(@conn, :index), class: "mega-link" %>
